<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT productBrand ANY>
<!ATTLIST productBrand id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT productDetail ANY>
<!ATTLIST productDetail id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="c108b249-90df-4677-97d2-b09214d8b78f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-02-23T21:53:59" updateDate="2019-03-02T13:09:54" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <nameProduct1><![CDATA[HP Pro Book]]></nameProduct1>
    <check1>1</check1>
    <imageProductDetail11><![CDATA[/media/1014/product02.png]]></imageProductDetail11>
    <price1><![CDATA[3.000.000]]></price1>
    <brandProduct1><![CDATA[HP]]></brandProduct1>
    <imageProductShow1><![CDATA[/media/1008/product01.png]]></imageProductShow1>
    <imageProductDetail31><![CDATA[/media/1015/product04.png]]></imageProductDetail31>
    <imageProductDetail21><![CDATA[/media/1016/product03.png]]></imageProductDetail21>
    <topSell1>0</topSell1>
    <decription1><![CDATA[Tên sản phẩm: Máy tính xách tay/ Laptop Acer Aspire A515-53-50ZD (NX.H6DSV.001) (i5-8265U)

- CPU: Intel Core i5-8250U ( 1.6 GHz - 3.4 GHz / 6MB / 4 nhân, 8 luồng ) 
- Màn hình: 15.6" ( 1366 x 768 ) , không cảm ứng 
- RAM: 1 x 4GB Onboard DDR4 
- Đồ họa: Intel UHD Graphics 620 
- Lưu trữ: 16GB M.2 Intel Optane Memory / 1TB HDD 5400RPM 
- Hệ điều hành: Windows 10 Home SL 64-bit 
- Pin: 3 cell 61 Wh Pin liền , khối lượng: 2.0 kg]]></decription1>
    <imageProductDetail12><![CDATA[/media/1010/product07.png]]></imageProductDetail12>
    <imageProductShow2><![CDATA[/media/1011/product06.png]]></imageProductShow2>
    <price2><![CDATA[4.500.000]]></price2>
    <nameProduct2><![CDATA[ASUS F3]]></nameProduct2>
    <topSell2>1</topSell2>
    <check2>1</check2>
    <brandProduct2><![CDATA[ASUS]]></brandProduct2>
    <imageProductDetail22><![CDATA[/media/1012/product08.png]]></imageProductDetail22>
    <imageProductDetail32><![CDATA[/media/1013/product09.png]]></imageProductDetail32>
    <check3>0</check3>
    <topSell3>0</topSell3>
    <check4>0</check4>
    <topSell4>0</topSell4>
    <check5>0</check5>
    <topSell5>0</topSell5>
    <topSell6>0</topSell6>
    <check6>0</check6>
    <topSell7>0</topSell7>
    <check7>0</check7>
    <topSell8>0</topSell8>
    <check8>0</check8>
    <check9>0</check9>
    <topSell9>0</topSell9>
    <aboutUs id="1059" key="10bfd866-bc88-454a-a9b3-03b5e9963b03" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-02-25T10:29:03" updateDate="2019-02-25T10:29:03" nodeName="AboutUs" urlName="aboutus" path="-1,1054,1059" isDoc="" nodeType="1057" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1055" nodeTypeAlias="aboutUs" isPublished="true" />
    <contact id="1060" key="312dd935-7e0e-4b63-a8ec-42dfa288c7dd" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2019-02-25T10:29:23" updateDate="2019-02-25T10:29:23" nodeName="Contact" urlName="contact" path="-1,1054,1060" isDoc="" nodeType="1058" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1056" nodeTypeAlias="contact" isPublished="true">
      <contact id="3181" key="679b3ea3-4082-4bd4-a66e-284f91c7d3e7" parentID="1060" level="3" creatorID="0" sortOrder="0" createDate="2019-03-05T22:47:09" updateDate="2019-03-05T22:47:09" nodeName="bùi lê quốc khánh-3/5/2019 10:47:08 PM" urlName="bùi-lê-quốc-khánh-352019-104708-pm" path="-1,1054,1060,3181" isDoc="" nodeType="1058" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1056" nodeTypeAlias="contact" isPublished="true">
        <email><![CDATA[khanh@gmail.com]]></email>
        <title><![CDATA[mua máy HP]]></title>
        <messeage><![CDATA[máy tính]]></messeage>
        <userName><![CDATA[bùi lê quốc khánh]]></userName>
        <phone><![CDATA[0978759996]]></phone>
      </contact>
      <contact id="3182" key="8ca907a4-a8d3-47f3-9c93-db8067c4ec55" parentID="1060" level="3" creatorID="0" sortOrder="1" createDate="2019-03-05T22:53:24" updateDate="2019-03-05T22:53:24" nodeName="bùi lê quốc khánh-3/5/2019 10:53:23 PM" urlName="bùi-lê-quốc-khánh-352019-105323-pm" path="-1,1054,1060,3182" isDoc="" nodeType="1058" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1056" nodeTypeAlias="contact" isPublished="true">
        <email><![CDATA[khanh@gmail.com]]></email>
        <title><![CDATA[mua máy HP]]></title>
        <messeage><![CDATA[máy tinh]]></messeage>
        <userName><![CDATA[bùi lê quốc khánh]]></userName>
        <phone><![CDATA[0978759996]]></phone>
      </contact>
      <contact id="3183" key="39c02fbb-14e4-44e2-9c2e-8c2a318dea12" parentID="1060" level="3" creatorID="0" sortOrder="2" createDate="2019-03-05T22:57:26" updateDate="2019-03-05T22:57:26" nodeName="bùi lê quốc khánh-3/5/2019 10:57:25 PM" urlName="bùi-lê-quốc-khánh-352019-105725-pm" path="-1,1054,1060,3183" isDoc="" nodeType="1058" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1056" nodeTypeAlias="contact" isPublished="true">
        <email><![CDATA[khanh@gmail.com]]></email>
        <title><![CDATA[mua máy HP]]></title>
        <messeage><![CDATA[khánh]]></messeage>
        <userName><![CDATA[bùi lê quốc khánh]]></userName>
        <phone><![CDATA[0978756565]]></phone>
      </contact>
      <contact id="3184" key="6e2ff525-6605-40ba-ab5a-05fe96aa2f4a" parentID="1060" level="3" creatorID="0" sortOrder="3" createDate="2019-03-05T22:59:33" updateDate="2019-03-05T22:59:33" nodeName="bùi lê quốc khánh-3/5/2019 10:59:32 PM" urlName="bùi-lê-quốc-khánh-352019-105932-pm" path="-1,1054,1060,3184" isDoc="" nodeType="1058" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1056" nodeTypeAlias="contact" isPublished="true">
        <email><![CDATA[khanh@gmail.com]]></email>
        <title><![CDATA[mua máy HP]]></title>
        <messeage><![CDATA[khsnhn]]></messeage>
        <userName><![CDATA[bùi lê quốc khánh]]></userName>
        <phone><![CDATA[0978756565]]></phone>
      </contact>
    </contact>
    <productDetail id="2166" key="aeb5ac06-b04c-4b53-9d92-9ca371bec6fa" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2019-03-02T09:32:29" updateDate="2019-03-02T09:32:52" nodeName="ProductDetail" urlName="productdetail" path="-1,1054,2166" isDoc="" nodeType="2165" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="2164" nodeTypeAlias="productDetail" isPublished="true" />
    <productBrand id="3166" key="1eafd0a5-8c0a-4d99-959c-f644769fc640" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2019-03-03T13:54:46" updateDate="2019-03-03T13:54:46" nodeName="ProductBrand" urlName="productbrand" path="-1,1054,3166" isDoc="" nodeType="3165" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="3164" nodeTypeAlias="productBrand" isPublished="true" />
  </home>
</root>