<!DOCTYPE root[<!ELEMENT productDetail ANY>
<!ATTLIST productDetail id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="c108b249-90df-4677-97d2-b09214d8b78f" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-02-23T21:53:59" updateDate="2019-03-01T22:55:26" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <nameProduct1><![CDATA[HP Pro Book]]></nameProduct1>
    <imageProductDetail1><![CDATA[/media/1006/product02.png]]></imageProductDetail1>
    <check1>1</check1>
    <price1><![CDATA[3.000.000]]></price1>
    <imageProductDetail2><![CDATA[/media/1007/product03.png]]></imageProductDetail2>
    <brandProduct1><![CDATA[HP]]></brandProduct1>
    <imageProductShow1><![CDATA[/media/1008/product01.png]]></imageProductShow1>
    <imageProductDetail3><![CDATA[/media/1009/product04.png]]></imageProductDetail3>
    <topSell1>0</topSell1>
    <imageProductDetail12><![CDATA[/media/1010/product07.png]]></imageProductDetail12>
    <imageProductShow2><![CDATA[/media/1011/product06.png]]></imageProductShow2>
    <price2><![CDATA[4.500.000]]></price2>
    <nameProduct2><![CDATA[ASUS F3]]></nameProduct2>
    <topSell2>1</topSell2>
    <check2>1</check2>
    <brandProduct2><![CDATA[ASUS]]></brandProduct2>
    <imageProductDetail22><![CDATA[/media/1012/product08.png]]></imageProductDetail22>
    <imageProductDetail32><![CDATA[/media/1013/product09.png]]></imageProductDetail32>
    <check3>0</check3>
    <topSell3>0</topSell3>
    <check4>0</check4>
    <topSell4>0</topSell4>
    <check5>0</check5>
    <topSell5>0</topSell5>
    <topSell6>0</topSell6>
    <check6>0</check6>
    <topSell7>0</topSell7>
    <check7>0</check7>
    <topSell8>0</topSell8>
    <check8>0</check8>
    <check9>0</check9>
    <topSell9>0</topSell9>
    <aboutUs id="1059" key="10bfd866-bc88-454a-a9b3-03b5e9963b03" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2019-02-25T10:29:03" updateDate="2019-02-25T10:29:03" nodeName="AboutUs" urlName="aboutus" path="-1,1054,1059" isDoc="" nodeType="1057" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1055" nodeTypeAlias="aboutUs" isPublished="true" />
    <contact id="1060" key="312dd935-7e0e-4b63-a8ec-42dfa288c7dd" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2019-02-25T10:29:23" updateDate="2019-02-25T10:29:23" nodeName="Contact" urlName="contact" path="-1,1054,1060" isDoc="" nodeType="1058" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="1056" nodeTypeAlias="contact" isPublished="true" />
  </home>
  <productDetail id="2163" key="f6c0d864-aa89-47e9-9555-4abe63c2fd06" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-03-02T07:26:25" updateDate="2019-03-02T07:26:25" nodeName="ProductDetail" urlName="productdetail" path="-1,2163" isDoc="" nodeType="2162" creatorName="Khanh Bui" writerName="Khanh Bui" writerID="0" template="2161" nodeTypeAlias="productDetail" isPublished="false">
    <check1>0</check1>
    <topSell1>0</topSell1>
    <topSell2>0</topSell2>
    <check2>0</check2>
    <check3>0</check3>
    <topSell3>0</topSell3>
    <check4>0</check4>
    <topSell4>0</topSell4>
    <check5>0</check5>
    <topSell5>0</topSell5>
    <topSell6>0</topSell6>
    <check6>0</check6>
    <topSell7>0</topSell7>
    <check7>0</check7>
    <topSell8>0</topSell8>
    <check8>0</check8>
    <check9>0</check9>
    <topSell9>0</topSell9>
  </productDetail>
</root>